<p style="color: green"><%= notice %></p>

<%= render @santri %>

<div>
  <%= link_to "Edit this Santri", edit_santri_path(@santri) %> |
  <%= link_to "Back to Santri", santris_path %>

  <%= button_to "Destroy this santri", @santri, method: :delete %>
</div>
